*.out
*.err
*.json
__pycache__/
*.pyc
config.json
*/.ipynb_checkpoints/
*.txt conda activate hashtag-hijacking
.ipynb_checkpoints/
*/.ipynb_checkpoints/
*-checkpoint.ipynb
.ipynb_checkpoints/
*/.ipynb_checkpoints/
*-checkpoint.ipynb
